{% extends  "::dashboard.html.twig" %}
{% block title %}Dependence Boss{% endblock %}
{% block header %}Dependence Boss {% endblock %}
{% block mainpage %}
    <div class="col-lg-6">
        {% for flashMessage in app.session.flashbag.get('notFoundBoss') %}
            <div class="alert alert-info">
                {{ flashMessage }}
            </div>
        {% endfor %}
        <div class="panel panel-default">
            <div class="panel-heading">
                Dependence Boss
            </div>
            <div class="panel-body">
                <form role="form"  action="{{path('set_boss_dependence')}}" method="POST">
                    <div class="form-group">
                        <label>Reception Dependence</label>
                        <select name="ROLE_INTERNAL_RECEPTION" class="form-control">
                            {% for reception in receptions %}
                                <option value="{{reception.id}}" {% if reception.isBoss %}selected{% endif %}>{{reception.firstname}} {{reception.lastname}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Accounting Dependence</label>
                        <select name="ROLE_INTERNAL_ACCOUNTING" class="form-control">
                            {% for accounting in accountings %}
                                <option value="{{accounting.id}}" {% if accounting.isBoss %}selected{% endif %}>{{accounting.firstname}} {{accounting.lastname}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Administration Dependence</label>
                        <select name="ROLE_INTERNAL_ADMINISTRATION"  class="form-control">
                            {% for administration in administrations %}
                                <option value="{{administration.id}}" {% if administration.isBoss %}selected{% endif %}>{{administration.firstname}} {{administration.lastname}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label>IT Dependence</label>
                        <select name="ROLE_INTERNAL_IT"  class="form-control">
                            {% for it in its %}
                                <option value="{{it.id}}" {% if it.isBoss %}selected{% endif %}>{{it.firstname}} {{it.lastname}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <input type="submit" class="btn btn-primary" value="Confirm" />
                </form>
            </div>
        </div>

    </div>
{% endblock %}